<div class="row mt-3 justify-content-center">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <form action="">
            <div class="input-group mb-3">
                <input type="text" name="search" class="form-control" placeholder="Search Videos" aria-label="Search videos" value="{{search}}"
                    aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit" id="button-addon2"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row mt-3">
    {{#each videos}}
    <div class="col-md-6 col-sm-12 col-xs-12">
        <a href="/watch/{{_id}}" class="card-link">
            <div class="card p-10">
                <div class="card-body d-flex align-items-center">
                    <img class="img-responsive" src="{{thumbnail.thumbnailUrl}}" alt="preview" width="150">
                    <div class="ml-3">
                        <h5 class="card-title">
                            {{title}}
                        </h5>
                        <h6 class="card-subtitle mb-3 text-muted">By <a href="#">{{user.name}}</a></h6>
                        <h6 class="card-subtitle text-muted">Uploaded on {{dateFormat date 'MMM DD, YYYY'}}</h6>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {{/each}}
</div>